@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url(./fonts.css);


/*General settings section*/


:root{
    --primary-font-color: #3c4043;
    --primary-font: "Roboto", sans serif;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 


html {
    font-size: 16px;
    font-family: var(--primary-font);
    display: inline-block;
}

a{
    color:var(--primary-font-color);
    font-family: var(--secondary-font);
    text-decoration: none;
}


/*HEADER SECTION*/

.header {
    padding: 2rem;
    font-family: var(--secondary-font);
    display: flex;
    flex-wrap: nowrap;
    box-sizing: border-box;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1rem;
}

.header-left {
    display: flex;
    gap: 1rem;
}

.header-right{
    display: flex;
    gap: 1rem;
}

/*MAIN SECTION*/

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
\\Problma con el submit y su edicion\\


form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

form .text{
    width: 586px;
    height: 40px;
    border-radius: 10%;
}

.form-button button, .form-button input{
    border: none;
    padding: 0.6rem 0.8rem 0.6rem 0.8rem;
    border-radius: 10%;
    font-size: 0.9rem;
    margin: 5px;
    color: var(--primary-font-color);
}

#google-logo{
    height: 92px;
    width: 272px;
}